<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>hyperprior</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://unpkg.com/prismjs/prism.js"></script>
    <script src="https://unpkg.com/prismjs/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://unpkg.com/prismjs/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/prismjs/plugins/treeview/prism-treeview.min.css" />
    <script src="https://unpkg.com/prismjs/plugins/treeview/prism-treeview.min.js"></script>

    <script src="https://unpkg.com/prismjs/plugins/unescaped-markup/prism-unescaped-markup.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/prismjs/plugins/command-line/prism-command-line.min.css" />
    <script src="https://unpkg.com/prismjs/plugins/command-line/prism-command-line.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/prismjs/plugins/line-numbers/prism-line-numbers.css" />
    <script src="https://unpkg.com/prismjs/plugins/line-numbers/prism-line-numbers.js"></script>

    <script>
      Prism.plugins.NormalizeWhitespace.setDefaults({
        'remove-trailing': true,
        'remove-indent': true,
        'left-trim': true,
        'right-trim': true,
        'tabs-to-spaces': 2
      });
    </script>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="sticky-header">
      {{# <a href="/about"> #}}
        {{# <span class="sh-command">/root/</span> #}}
        {{# <span class="sh-symbol">|</span> #}}
        {{# <span class="sh-command">describe</span> #}}
      {{# </a> #}}
      
      {{ content }}
    </div>
  </body>
</html>
